workflows/01-stats-collection.json
{
  "name": "Bakal — Stats Collection (Daily)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Daily 8am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BAKAL_BACKEND_URL}}/api/stats/collect",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Backend — Collect Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BAKAL_BACKEND_CREDENTIAL_ID",
          "name": "Bakal Backend JWT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log results and check for errors\nconst response = $input.first().json;\nconst collected = response.collected || 0;\nconst analyzed = response.analyzed || 0;\nconst campaigns = response.campaigns || [];\n\nconst eligible = campaigns.filter(c => c.eligible);\nconst needsRegeneration = campaigns.filter(c => c.analyzed);\n\nreturn [{\n  json: {\n    collected,\n    analyzed,\n    eligibleCount: eligible.length,\n    campaigns: campaigns.map(c => ({\n      name: c.campaign,\n      lemlistId: c.lemlistId,\n      eligible: c.eligible,\n      analyzed: c.analyzed\n    })),\n    timestamp: new Date().toISOString(),\n    hasEligible: eligible.length > 0,\n    hasAnalyzed: needsRegeneration.length > 0\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-analyzed",
              "leftValue": "={{ $json.hasAnalyzed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Campaigns Analyzed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BAKAL_BACKEND_URL}}/api/stats/run-orchestrator",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"job\": \"collect-stats\"}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Backend — Trigger Regeneration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BAKAL_BACKEND_CREDENTIAL_ID",
          "name": "Bakal Backend JWT"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "No Optimization Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Daily 8am Trigger": {
      "main": [
        [
          {
            "node": "Backend — Collect Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend — Collect Stats": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Results": {
      "main": [
        [
          {
            "node": "Campaigns Analyzed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campaigns Analyzed?": {
      "main": [
        [
          {
            "node": "Backend — Trigger Regeneration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Optimization Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "bakal" },
    { "name": "stats" }
  ],
  "meta": {
    "notes": "SETUP REQUIRED:\n1. Set N8N environment variable BAKAL_BACKEND_URL (e.g. http://localhost:3001)\n2. Create 'Bakal Backend JWT' HTTP Header Auth credential:\n   - Header Name: Authorization\n   - Header Value: Bearer <admin-jwt-token>\n   Generate a JWT for an admin user using the backend auth endpoints.\n3. Activate the workflow once configured."
  }
}
