workflows/02-regeneration-deployment.json
{
  "name": "Bakal — Regeneration + Deployment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bakal-regeneration",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "bakal-regen-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BAKAL_BACKEND_URL}}/api/ai/run-refinement",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"campaignId\": \"{{ $json.body.campaignId }}\"}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "Backend — Run Refinement Loop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BAKAL_BACKEND_CREDENTIAL_ID",
          "name": "Bakal Backend JWT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse refinement results\nconst response = $input.first().json;\n\nconst result = {\n  diagnosticId: response.diagnosticId,\n  versionId: response.versionId,\n  stepsRegenerated: response.stepsRegenerated || [],\n  overallScore: response.analysis?.overallScore || null,\n  priorities: (response.analysis?.priorities || []).map(p => p.step || p),\n  hasRegeneration: !!response.regeneration,\n  messages: (response.regeneration?.messages || []).map(m => ({\n    step: m.step,\n    hypothesis: m.hypothesis || ''\n  })),\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: result }];"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000003",
      "name": "Parse Refinement Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-regen",
              "leftValue": "={{ $json.hasRegeneration }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000004",
      "name": "Has Regeneration?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BAKAL_BACKEND_URL}}/api/ai/deploy-to-lemlist",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"campaignId\": \"{{ $('Webhook Trigger').item.json.body.campaignId }}\", \"messages\": {{ JSON.stringify($json.messages) }}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000005",
      "name": "Backend — Deploy to Lemlist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BAKAL_BACKEND_CREDENTIAL_ID",
          "name": "Bakal Backend JWT"
        }
      }
    },
    {
      "parameters": {},
      "id": "b1b2c3d4-0002-4000-8000-000000000006",
      "name": "Analysis Only (No Regeneration)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 420]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Backend — Run Refinement Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend — Run Refinement Loop": {
      "main": [
        [
          {
            "node": "Parse Refinement Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Refinement Results": {
      "main": [
        [
          {
            "node": "Has Regeneration?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Regeneration?": {
      "main": [
        [
          {
            "node": "Backend — Deploy to Lemlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analysis Only (No Regeneration)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "bakal" },
    { "name": "regeneration" }
  ],
  "meta": {
    "notes": "SETUP REQUIRED:\n1. Set N8N environment variable BAKAL_BACKEND_URL (e.g. http://localhost:3001)\n2. Create 'Bakal Backend JWT' HTTP Header Auth credential:\n   - Header Name: Authorization\n   - Header Value: Bearer <admin-jwt-token>\n3. After importing, copy the webhook URL and paste it into Workflow 1 if using manual triggering.\n4. The backend handles: Claude analysis + regeneration, PostgreSQL storage, Notion sync, and Lemlist deployment."
  }
}
