workflows/03-memory-consolidation.json
{
  "name": "Bakal — Memory Consolidation (Monthly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": 1,
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000001",
      "name": "Monthly 1st @ 6am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BAKAL_BACKEND_URL}}/api/ai/consolidate-memory",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 180000
        }
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000002",
      "name": "Backend — Consolidate Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BAKAL_BACKEND_CREDENTIAL_ID",
          "name": "Bakal Backend JWT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log consolidation results\nconst response = $input.first().json;\n\nreturn [{\n  json: {\n    patternsCreated: response.patternsCreated || 0,\n    patternsUpdated: response.patternsUpdated || 0,\n    contradictions: response.contradictions || [],\n    summary: response.summary || '',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000003",
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    }
  ],
  "connections": {
    "Monthly 1st @ 6am Trigger": {
      "main": [
        [
          {
            "node": "Backend — Consolidate Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend — Consolidate Memory": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "bakal" },
    { "name": "memory" }
  ],
  "meta": {
    "notes": "SETUP REQUIRED:\n1. Set N8N environment variable BAKAL_BACKEND_URL (e.g. http://localhost:3001)\n2. Create 'Bakal Backend JWT' HTTP Header Auth credential:\n   - Header Name: Authorization\n   - Header Value: Bearer <admin-jwt-token>\n3. The backend handles all logic: fetching diagnostics from PostgreSQL, calling Claude for consolidation, storing patterns, and syncing to Notion."
  }
}
